<template>
    <div :class="'p-2 mx-1 my-1 rounded check ' + check.result"></div>
</template>

<script>
    export default {
        props: {
            check: Object,
        },
    }
</script>

<style scoped>
    .check {
        width: 5px;
    }

    .success {
        background: green;
    }

    .warning {
        background: gold;
    }

    .failure {
        background: red;
    }

    .skip {
        background: deeppink;
    }

    .unknown {
        background: gray;
    }
</style>
