<template>
    <div>
        <div class="row">
            <div class="col-md-2">
                <h3 class="column-text mx-auto">{{env.name}}</h3>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <Node v-for="(node, index) in env.hosts"
                          :key="index"
                          :config="node"
                          v-on:failure="nodeFailure"
                    >
                    </Node>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Node from './Node';

    export default {
        components: {
            Node
        },
        props: {
            name: String,
            env: Object,
        },
        methods: {
            nodeFailure() {
                this.$emit('failure');
            },
        },
    }
</script>

<style scoped>
    .column-text {
        text-orientation: upright;
        writing-mode: vertical-rl;
    }
</style>
