<template>
    <div class="col-md-4">
        <p class="card-text">{{config.name}} {{refreshedAt}}</p>

        <p class="card-text"><b>{{version}}</b></p>

        <div v-if="nodeCheckingFailed(id)" class="card-text">
            <p>{{getNodeState(id).reason}}</p>
        </div>
        <div v-else class="row">
            <Check v-for="(check, index) in getNodeState(id).details"
                   :key="index"
                   :check="check"
            >
            </Check>
        </div>

        <hr/>
    </div>
</template>

<script>
    import {mapGetters, mapMutations} from 'vuex';
    import Check from './Check';

    export default {
        components: {Check},
        services: ['Factory'],
        props: {
            name: String,
            config: Object,
        },
        data() {
            return {
                checker: Object,
                date: new Date(),
            };
        },
        mounted() {
            this.registerNode({id: this.id});
            this.checker = this.$services.Factory.getCheckerBy(
                this.config
            );
            this.refreshStatus();
        },
        computed: {
            ...mapGetters([
                'getNodeState',
                'nodeCheckingFailed',
            ]),
            refreshedAt() {
                return this.date.toLocaleTimeString({
                    hour: 'numeric',
                    minute: 'numeric',
                    second: 'numeric',
                });
            },
            id() {
                return this.config.id;
            },
            allowFailure() {
                return this.config.allowFailure;
            },
            version() {
                if (this.getNodeState(this.id).hasOwnProperty('details')
                    && this.getNodeState(this.id).details.hasOwnProperty('Build version check')
                ) {
                    return this.getNodeState(this.id)
                        .details['Build version check']
                        .message
                        .replace('Installed version: ', '');
                }

                return 'unknown';
            }
        },
        methods: {
            ...mapMutations([
                'registerNode',
                'updateNodeState',
                'checkingFailed',
            ]),
            refreshStatus() {
                this.checker.getStatus()
                    .then(check => {
                        this.date = new Date();

                        if (this.allowFailure === false && check.passed === false) {
                            this.$emit('failure');
                        }

                        this.updateNodeState({
                            id: this.id,
                            state: check,
                            checkingFailed: false,
                        });
                    })
                    .catch(reason => {
                        this.checkingFailed({id: this.id, reason: reason});
                        this.$emit('failure');
                    })
                    .finally(() => {
                        setTimeout(this.refreshStatus, this.config.refreshAfter);
                    });
            },
        },
    }
</script>

<style scoped></style>
