<template>
    <div class="card-columns">
        <Service v-for="(service, index) in services()"
                 :key="index"
                 :name="service.name"
        >
        </Service>
    </div>
</template>

<script>
    import Service from './Service.vue';

    export default {
        components: {
            Service,
        },
        methods: {
            services() {
                return this.$store.state.config.services;
            },
        },
    }
</script>

<style scoped></style>
