<template>

    <div :class="[ failed ? 'card text-center border-danger' : 'card text-center border-info' ]">
        <div :class="[ failed ? 'card-header bg-danger text-white' : 'card-header' ]">
            <b>{{name}}</b>
        </div>
        <div class="card-body">
            <Env v-for="(env, index) in getServiceByName(name).envs"
                 :key="index"
                 :env="env"
                 v-on:failure="failure"
            >
            </Env>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';
    import Env from "./Service/Env";

    export default {
        components: {
            Env
        },
        props: {
            name: String,
        },
        data() {
            return {
                failed: false,
            }
        },
        computed: {
            ...mapGetters([
                'getServiceByName',
            ]),
        },
        methods: {
            failure() {
                this.failed = true;
            }
        },
    }
</script>

<style scoped></style>
